default: &default
  host: localhost
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: shtracker_development

test: &test
  <<: *default
  database: shtracker_test

cucumber:
  <<: *test
