$preferred-colour: #939310;
$preferred-font-family: "Helvetica";

h4 {
  font-size: 1.1em;
  color: $preferred-colour;
  font-weight: bold;
}

h4, li {
  font-family: $preferred-font-family;
}

#sub-cat-paragraph {
  padding-top:10px;
  padding-bottom:7px;
}

.main_title {
  color: $preferred-colour;
}

.highlight {
  font-weight: bold;
  color: $preferred-colour;
}

.cat_list_div {
  border: 1px solid;
}

.vl {
  border-left: 3px solid $preferred-colour;
  height: 143px;
  float: left;
  top: 0;
}

.categories_buttons {
  margin-left: 18px;
}

button {
  background-color: $preferred-colour !important;
}

#more-sub-cats-btn {
  border-radius: 50%;
}

.modal-sub-cat-label {
}


.modal-sub-cat-label-div {
}

.sub-cat-textfield {
}

.rmv-sub-cat-row-btn {
}

.sub-cat-textfield-div {
  padding-left:0px;
}

.modal-glyphicon-remove {
  color: $preferred-colour;
}

.sub-cat-row {
  padding-left:0px;
}

#sub-cats-div {
}

.sub-cat-rmv-btn-div {
  padding-top: 10px;
}
