$preferred-colour: #939310;
$preferred-font-family: "Helvetica";

h4 {
  font-size: 1.1em;
  color: $preferred-colour;
  font-weight: bold;
}

h4, li {
  font-family: $preferred-font-family;
}

.main_title {
  color: $preferred-colour;
}

.highlight {
  font-weight: bold;
  color: $preferred-colour;
}

.cat_list_div {
  border: 1px solid;
}

.vl {
  border-left: 3px solid $preferred-colour;
  height: 143px;
  float: left;
  top: 0;
}

.categories_buttons {
  margin-left: 18px;
}

button {
  background-color: $preferred-colour !important;
}

.modal_tip {
  color:grey;
  font-style: italic;
  font-weight: normal
}

#modal_more_sub_cats_btn {
  border-radius: 50%;
}

.modal-sub-cat-label {
}


.modal-sub-cat-label-div {
}

.modal-sub-cat-textfield {
}

.modal-sub-cat-textfield-div {
}

.modal-glyphicon-remove {
  color: $preferred-colour;
}

.sub-cat-row {
  margin-top: 20px;
}

#modal-sub-cats-div {
}

.modal-sub-cat-rmv-btn-div {
}
